.textPost {
  p {
    font-family: $body-font;
    margin: 10px 20px 0 20px ;

    strong {
      font-weight: bold;

    }

    em {
      font-style: italic;
    }

    a {
      color: $headline-color;
    }
  }
  ul {
    margin: 10px 20px 10px 20px;
    li {
      list-style: circle;
      list-style-position: inside;
      font-family: $body-font;
      font-weight: 400;
      font-style: normal;
      font-size: 18px;
      line-height: 30px;
      letter-spacing: -.003em;
      padding-bottom: 10px;
    }
    li:last-child {
      padding-bottom: 0;
    }
  }

  ol {
    margin: 10px 20px 10px 20px;
    li {
      list-style: decimal;
      list-style-position: inside;
      font-family: $body-font;
      font-weight: 400;
      font-style: normal;
      font-size: 18px;
      line-height: 30px;
      letter-spacing: -.003em;
      padding-bottom: 10px;
    }
    li:last-child {
      padding-bottom: 0;
    }
  }

  blockquote {
    font-style: italic;
    position: relative;
    padding: 10px 0 10px 50px;
    &:before {
      content: "\201C";
      font-family: $body-font;
      position: absolute;
      left: 20px;
      top: 15px;
      color: white;
      background: #3333FF;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      font-size: 50px;
      line-height: 1.4;

    }
  }

  pre {
    white-space: pre-wrap;
    font-family: monospace;
    line-height: 20px;
    display: block;
    border-left: dashed 2px #3333ff;
    font-size: 14px;
    padding-left: 20px;
    margin: 20px;
  }
}