@charset "UTF-8";
/* Основные цвета */
/* функциональные переменные */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  width: 100%;
  display: flex;
  flex-direction: column; }

h1 {
  font-family: "Fira Sans", sans-serif;
  font-size: 28px; }

.metaBar {
  position: relative;
  padding: 10px 0;
  background-color: #3333FF;
  font-family: "Fira Sans", sans-serif; }

.headlineMetaBar {
  margin-left: 10%; }

h1 {
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  color: #ffffff; }

.siteMain {
  width: 100%;
  max-width: 700px;
  margin: 0 auto; }

h2 {
  font-family: "Fira Sans", sans-serif;
  font-size: 26px;
  font-weight: 600;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: -.003em;
  color: #3333FF;
  margin-left: 20px;
  margin-top: 10px; }

h3 {
  font-family: "Fira Sans", sans-serif;
  font-size: 26px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: -.003em;
  color: #3333FF;
  margin-left: 20px;
  margin-top: 10px; }

p {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -.003em; }

a {
  font-family: "Fira Sans", sans-serif;
  text-decoration: none;
  cursor: pointer; }

.mainArticle {
  display: flex;
  flex-direction: column; }

.headerArticleContent {
  justify-content: center;
  margin-bottom: 20px; }

.infoPost {
  margin-top: 10px;
  text-align: center; }
  .infoPost p {
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #3333FF; }

.headlinePost {
  margin-bottom: 10px;
  text-align: center; }
  .headlinePost a {
    color: #3333FF;
    font-family: "Fira Sans", sans-serif; }
  .headlinePost h2 {
    margin: 0 auto; }

.subtitlePost {
  text-align: center;
  margin-bottom: 30px; }
  .subtitlePost h3 {
    color: #757575;
    padding: 0 10px; }

.imgPost, .textPost p img {
  display: block;
  margin: 0 auto;
  width: 100%; }

.buttonPostOpen a {
  display: flex;
  justify-content: flex-end;
  color: #3333FF;
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  margin-right: 40px; }

.textLink {
  color: #3333FF;
  font-weight: bold; }

.footer {
  margin-bottom: 10px; }
  .footer *, .footer a {
    font-family: "Fira Sans", sans-serif;
    color: #3333FF;
    margin: 5px;
    text-align: center; }

.textPost p {
  font-family: "Fira Sans", sans-serif;
  margin: 10px 20px 0 20px; }
  .textPost p strong {
    font-weight: bold; }
  .textPost p em {
    font-style: italic; }
  .textPost p a {
    color: #3333FF; }

.textPost ul {
  margin: 10px 20px 10px 20px; }
  .textPost ul li {
    list-style: circle;
    list-style-position: inside;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -.003em;
    padding-bottom: 10px; }
  .textPost ul li:last-child {
    padding-bottom: 0; }

.textPost ol {
  margin: 10px 20px 10px 20px; }
  .textPost ol li {
    list-style: decimal;
    list-style-position: inside;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -.003em;
    padding-bottom: 10px; }
  .textPost ol li:last-child {
    padding-bottom: 0; }

.textPost blockquote {
  font-style: italic;
  position: relative;
  padding: 10px 0 10px 50px; }
  .textPost blockquote:before {
    content: "\201C";
    font-family: "Fira Sans", sans-serif;
    position: absolute;
    left: 20px;
    top: 15px;
    color: white;
    background: #3333FF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 50px;
    line-height: 1.4; }

.textPost pre {
  white-space: pre-wrap;
  font-family: monospace;
  line-height: 20px;
  display: block;
  border-left: dashed 2px #3333ff;
  font-size: 14px;
  padding-left: 20px;
  margin: 20px; }

.formItem label {
  display: inline-block;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 1.58;
  letter-spacing: -.003em;
  padding: 10px 0;
  margin-right: 20px; }

.formItem input[type="text"] {
  height: 20px;
  width: 100%;
  padding: 5px 8px; }

.formItem input[type="file"] {
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #b6b6b6; }

.formItem input[type="password"] {
  height: 20px;
  width: 100%;
  padding: 5px 8px; }

.formItem textarea {
  padding: 8px;
  min-height: 300px;
  width: 100%;
  padding-left: 5%; }

div > button.button {
  margin-top: 20px;
  margin-left: 45%;
  padding: 10px 20px;
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
  background-color: white;
  border: 1px solid #3333FF;
  cursor: pointer; }

button.button {
  margin-top: 20px;
  margin-left: 40%;
  padding: 10px 20px;
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
  background-color: white;
  border: 1px solid #3333FF;
  cursor: pointer; }
