/* Основные цвета */
$brightBlue: #3333FF;
$dark: #000000;
$white: #ffffff;
$gray: #757575;

/* функциональные переменные */
$text-color: $dark;
$metaBarBackground-color: $brightBlue;
$headline-color: $brightBlue;
$footer-color: $brightBlue;
$headlineBar: $white;
$subtitlePost: $gray;